*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    color: hsl(256, 26%, 20%);
}


.header__nav {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.header__list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header__item {
    margin-left: 20px;
}

.header__link {
    text-decoration: none;
    color: hsl(273, 4%, 51%);
    transition: color 200ms ease-out;
}

.header__link:hover {
    color:hsl(256, 26%, 20%);
}



.header__button {
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: white;
    border: 2px solid hsl(270, 9%, 17%);
    cursor: pointer;
    transition: all 200ms ease-out;
}

.header__button:hover {
    background-color: hsl(270, 9%, 17%);
    color: hsl(0, 0%, 98%);
}

.header__hero {
    position: relative;
    padding: 80px;
    display: flex;
    background-color: hsl(256, 26%, 20%);
}

.header__hero::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 500px;
    left: 0;
    bottom: -400px;
    background-image: url("../images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: 0;
    
}

.header__hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 0;
}

.header__info {
    position: relative;
    z-index: 2;
    flex: 1;
}

.header__dash {
    display: inline-block;
    width: 20%;
}

.header__title {
    margin: 50px 0 30px; 
    max-width: 500px;
    color: hsl(0, 0%, 98%);
    font-family: "Dm Serif Display", sans-serif;
    font-size: 72px;
}

.header__desc {
    max-width: 550px;
    margin-bottom: 30px;
    color: hsl(0, 0%, 98%);
    line-height: 1.5;
}

.header__cta {
    padding: 10px 30px;
    text-transform: uppercase;
    color: hsl(0, 0%, 98%);
    font-weight: bold;
    letter-spacing: 2px;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 98%);
    cursor: pointer;
    transition: all 200ms ease-out;
}

.header__cta:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
}

.header__intro {
    position: absolute;
    right: 80px;
    max-width: 600px;
    width: 100%;
    height: 600px;
    background-image: url("../images/image-intro-desktop.jpg");
    background-repeat: no-repeat;
}


/* Main */

.main {
    margin-top: 200px;
    padding: 80px;
}

.main__dash {
    display: inline-block;
    width: 20%;
}

.main__title {
    margin: 30px 0;
    font-size: 58px;
    font-family: "DM Serif Display", sans-serif;
}

.main__features {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
}

.main__headline {
    margin: 30px 0 20px;
    font-size: 26px;
    font-family: "DM Serif Display", sans-serif;
}

.main__desc {
    color: hsl(216, 30%, 68%);
    line-height: 1.5;
}

.main__banner {
    margin: 100px 0;
    padding: 60px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(256, 26%, 20%);
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.main__advertise {
    flex-basis: 440px;
    color:hsl(0, 0%, 98%);
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
}

.main__cta {
    padding: 10px 20px;
    background-color: transparent;
    color: hsl(0, 0%, 98%);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid hsl(0, 0%, 98%);
    cursor: pointer;
    transition: all 200ms ease-out;
}

.main__cta:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
}

/* Footer */

.footer {
    padding: 40px 80px;
    background-color: hsl(0, 0%, 98%);
    background-image: url("../images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
}

.footer__heading {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__social {
    margin-left: 15px;
}

.footer__grid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.footer__head {
    color: hsl(273, 4%, 51%);
}

.footer__list {
    margin-top: 30px;
}

.footer__item {
    margin-bottom: 15px;
}

.footer__logo:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%);
}

.footer__link {
    text-decoration: none;
    color: hsl(256, 26%, 20%);
}

.footer__link:hover {
    text-decoration: underline;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1310px) {
    .header__intro {
        max-width: 400px;
    }

    .header__title {
        font-size: 54px;
    }

    .header__desc {
        max-width: 400px;
    }

    .main {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 1000px) {
    .header__hero {
        flex-direction: column-reverse;
    }

    .header__hero::before {
        bottom: 0;
    }

    .header__hero::after {
        background-position: bottom right;
        bottom: -200px;
        background-size: 35%;
    }

    .header__intro {
        position: static;
        max-width: initial;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-image: url("../images/image-intro-mobile.jpg");
    }

    .header__info {
        text-align: center;
    }

    .header__dash {
        display: none;
    }

    .header__title {
        max-width: none;
        font-size: 40px;
    }
    
    .header__desc {
        max-width: none;
    }

    /* Main */

    .main {
        margin-top: 30px;
    }

    .main__dash {
        display: block;
    }

    .main__title {
        text-align: center;
        font-size: 36px;
    }

    .main__features {
        grid-template-columns: 1fr;
    }

    .main__feature {
        margin-bottom: 40px;
        text-align: center;
    }

    .main__desc {
        max-width: 400px;
        margin: auto;
    }

    .main__banner {
        display: block;
        text-align: center;
        background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    }

    .main__advertise {
        margin-bottom: 30px;
        font-size: 32px;
    }
}

@media only screen and (max-width: 800px) {
    .header__nav {
        padding: 20px;
    }

    .header__hero {
        padding: 0;
        padding-bottom: 50px;
    }

    .main {
        padding: 40px 20px;
    }

    .main__banner {
        margin: 50px 0;
        padding: 40px;
    }

    .footer {
        background-image: url("../images/bg-pattern-footer-mobile.svg");
        padding: 20px;
    }
    
    .footer__heading {
        display: block;
        text-align: center;
    }

    .footer__socials {
        margin-top: 20px;
        justify-content: center;
    }

    .footer__social {
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer__grid {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .footer__category {
        margin-top: 20px;
    }

}